#startearning .w-layout-grid{
	-ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#startearning .w-layout-grid .binance-logo{
	height: 80px;
}

#introduction{
	flex-direction: row;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

#startearning .slider-card{
	width: 500px;
	height: 310px;
	justify-content: flex-start;
}

.feature-wrap{
	margin-bottom: 3rem;
}

.grid-ecosystem.community{
	grid-template-columns: 1fr 1fr 1fr;
}

#list-footer{
	display: flex;
	flex-wrap: wrap;
	padding-left: 1rem;
	padding-right: 1rem;
	list-style-type: none;
	text-align: center;
	margin-bottom: 6rem;
}

#list-footer li{
	min-width: 200px;
}

.content-section.ecosystem{
	background-image: url("../img/right-1.png"), url("../img/left-1.png"), radial-gradient(circle closest-side at 50% 45%, rgba(83, 78, 255, 0.08), #fff 57%);
}

@media screen and (max-width: 768px){
	.slider-second-features{
		display: block !important;
	}

	#startearning .slider-card{
		width: 100%;
	    height: 310px;
	    justify-content: flex-start;
	    padding-right: 1.5rem;
	    margin-bottom: 2rem;
	}

	#startearning .slider-progress-wrapper{
		display: none !important;
	}

	.cms-item{
		position: static;
		display: block;
	}

	.cms-item .link-block-story{
		width: 100%;
	}
}

@media screen and (max-width: 500px){
	#introduction{
		flex-wrap: wrap;
		margin-top: 0px;
		margin-bottom: 2rem;
	}

	#introduction > div{
		width: 100%;
	}

	#startearning.white .w-layout-grid{
		display: flex;
		flex-direction: column;
	}

	#startearning.white .w-layout-grid img{
		height: auto;
		margin-bottom: 1rem;
	}

	#list-footer{
		justify-content: center;
	}

	#list-footer li{
		margin-bottom: 2rem;
	}

	#get-bnb > .dark{
		margin-bottom: 1rem;
	}

	#get-bnb > .ecosystem{
		width: 100%;
		padding-left: 2rem !important;
	    padding-right: 2rem;
	    box-sizing: border-box;
	}
}

.fotoBinance {
    border-radius: 15px;
    box-shadow: 5px 5px 15px #ffffff4f;
    width: 85%;
    margin-top: 22px;
}

.dogebsc-ecosystem-img {
	padding-left: 2rem;
}

.cabezaWhy {

}

.cabezaRoad {
	
}

@media screen and (min-width: 1440px){
.grid-hero.dark {
    -ms-grid-columns: 1fr 0.5fr;
    grid-template-columns: 1fr 1fr;
}
}

