#startearning .w-layout-grid{
	-ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#startearning .w-layout-grid .binance-logo{
	height: 80px;
}

#introduction{
	flex-direction: row;
}

#startearning .slider-card{
	width: 500px;
	height: 310px;
	justify-content: flex-start;
}

.feature-wrap{
	margin-bottom: 3rem;
}